body {
    margin: 0;
    padding: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(150deg, purple, #3BCE00);
    height: 100vh;

}
img{
    background-image: url(css/libreria.jpg);
    background-size: cover;
     width: 40%;
     margin: 5 auto;
     padding: 30px 80px 70px;
  background-position: center;
  border-top: #a2cf92;
  display: block;
    }

.formulario{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;    
}

.formulario h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}

.formulario form{
    padding: 0 40px;
    box-sizing: border-box;
}

form .username{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.username input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16 px;
    border: none;
    background: none;
    outline: none;
}

.username label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.username span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #6C3483;
    transition: .5s;
}

.username input:focus ~ label,
.username input:focus ~ label{
    top: -5px;
    color: #6C3483;
}
.username input:focus ~ span::before,
.username input:focus ~ span::before{
    width: 100%;
}

.recordar{
    margin:5px 0 20px 5px;
    color: rgb(41, 6, 238);
    cursor: pointer;  
}

.recordar:hover{
    text-decoration: underline;
}

input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 2px solid;
    background: #6C3483;
    border-radius: 25px;
    font-size: 18px;
    color:white;
    cursor: pointer;
    outline: none;
    border-color: #3BCE00;
}


input[type="submit"]:hover{
    border-color: purple;
    transition: .5s;
}

.registrarse{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color:black;
}

.registrarse a{
    color:#3B00CE;
    text-decoration: underline;
}
